.UserList {
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex: auto;
  flex-direction: column;
}

/*Override Milligram css full-column-width form field*/
.InputArea input[type='text'] {
  width: auto;
}

.InputArea button {
  margin-left: 1rem;
}

.ListContainer {
  display: flex;
  justify-content: center;
}

.UserList ul {
  width: 20rem;
}

.UserList li {
  text-align: left;
  word-wrap: break-word;
}
