/*         CSS Resets         */
/*============================*/
.MenuItem {
  margin-bottom: 0px;
}

/* Menu Bar Component Styling */
/*============================*/
.MenuItem {
  position: relative;
  width: 90%;
  left: 5%;
  padding: 1.6rem 0.8rem 1.6rem; /* We want large touch targets */
  border-bottom: 1px solid #e0e0e0;
}

.MenuItem:last-child {
  border: 0px transparent;
}

.MenuItem .active {
  color: #5b2d7a;
  font-weight: 300;
}

.MenuItem a {
  padding: 1.6rem 80% 1.6rem 0px; /* We want large touch targets */
}

@media (min-width: 40rem) {
  .MenuItem {
    position: inherit;
    width: auto;
    border-bottom: 0px transparent;
  }

  .MenuItem a {
    padding: 1.6rem 0.8rem 1.6rem;
  }
}
