.Planets {
  text-align: center;
  margin-top: 2rem;
}

.CanvasWrapper {
  display: inline-block;
  position: relative;
}

.Tips {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  color: white;
  opacity: 0.8;

  /* Vertically position block elements */
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

img.Arrow {
  width: 80px;
  height: auto;
  cursor: pointer;
}

img.Arrow.Up {
  padding: 1rem;
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
  filter: opacity(0.5);
}

img.Arrow.Down {
  padding: 1rem;
  transform: scaleY(-1);
  filter: brightness(0.6);
}

img.Arrow.Down:hover {
  filter: brightness(0.4);
}

img.Arrow.Up:hover {
  filter: opacity(0.8);
}

/* GUI Styles */

.SettingsCog {
  color: white;
  filter: opacity(0.5);
  width: 3.5rem;
  height: auto;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
}

.SettingsCog:hover {
  filter: opacity(0.8)
}

.FPS {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  color: lightgrey;
}

.SettingsList {
  right: 1rem;
  bottom: 3rem;
  position: absolute;
  color: white;
  list-style-type: none;
}

.SettingsList li {
  text-align: right;
}

@media screen and (min-width: 800px) {
  .SettingsList {
    /*Horizontally center*/
    left: 0px;
    right: 0px;
    width: auto;

    bottom: auto;

    /* Vertically center block elements */
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  .SettingsList li {
    text-align: inherit;
  }
}

/*@media (min-device-width: 600px) {
  .SettingList {
    bottom: auto;
  }
}*/


/* Animation */
.settings-enter {
  opacity: 0.01;
}

.settings-enter.settings-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.settings-leave {
  opacity: 1;
}

.settings-leave.settings-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.tips-enter {
  opacity: 0.01;
}

.tips-enter.tips-enter-active {
  opacity: 0.8;
  transition: opacity 300ms ease-in;
}

.tips-leave {
  opacity: 0.8;
}

.tips-leave.tips-leave-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}
