/* Resets */
.footer {
  padding: 2rem;
  margin-top: 2rem;
  max-width: 100%;
  width: 100%;
}

.footer {
  text-align: center;
  white-space: nowrap;
  border-top: 1px solid #d1d1d1;
}

.footer > p {
  margin-bottom: 0px;
}
