/*       Resets       */
/*====================*/
.Footer {
  max-width: 100%;
  width: 100%;
}

.Footer ul {
  justify-content: center;
  list-style: none;
  margin-bottom: 0px;
}

.Footer li {
  padding: 0px;
  margin-bottom: 0px;
}

/*    Footer Styling    */
/*======================*/
.Footer {
  padding: 2rem 0px 1rem;
  margin-top: 2rem;
  text-align: center;
  border-top: 1px solid #d1d1d1;
  white-space: normal;
  word-wrap: break-word;
}

.Footer .separator {
  display: none;
}

.Footer li {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/*  Responsive Styles  */
/*=====================*/
@media (min-width: 40rem) {
  /* Flexbox requires a polyfill for IE10 and earlier */
  .Footer > ul {
    display: flex;
    width: 100%;
  }

  .Footer .separator {
    display: block;
  }
}
