/* CSS Resets */
.MenuBar {
  list-style: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #d1d1d1;
}

/* Menu Bar Component Styling */

.MenuBar li {
  padding: 1.6rem;
  margin-bottom: 0px;
}

.MenuBar li:hover {
  filter: opacity(50%);
  cursor: pointer;
}

.MenuBar a {
    margin: 1.6rem;
}

@media (min-width: 40rem) {
  /* Flexbox requires a polyfill for IE10 and earlier */
  .MenuBar {
    display: flex;
    width: 100%;
  }
}

@media (min-width: 80rem) {

  .MenuBar li {
    overflow: visible;
    font-size: 1.6rem;
  }
}
