/*         CSS Resets         */
/*============================*/
.navigation {
  border-bottom: 1px solid #d1d1d1;
}

.MenuBar {
  list-style: none;
  margin-bottom: 0px;
}

/* Menu Bar Component Styling */
/*============================*/
.MenuBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hamburger {
  height: 6.8rem; /* Warning: magic number */
  background-color: white;
  width: auto;
  float: left;
}

.hamburger img {
  margin: 0.8rem 2rem 0.8rem;
  float: left;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}

.hamburger img:active {
  background-color: grey;
}

/* Shared Styles between the hamburger and Github icons */
.icon {
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: white;
}

.gh-item {
  width: auto;
  float: right;
  padding: 0.8rem 2rem 0px;
}

.navigation .wrapper {
  position: relative;
  z-index: 2;
}

/*.block {
  position: relative;
  z-index: 3;
  height: 5rem;
  background-color: white;
}*/

.MenuBar {
  position: absolute;
  background-color: white;
  z-index: -1;
  top: -500px; /* Would be nice to position this without magic numbers */
  width: 100%;
  border-bottom: 1px solid #d1d1d1;
}

.MenuBar a {
  padding: 1.6rem 1.6rem 1.6rem;
}

/* Menu Bar Animation */
/*====================*/
.MenuBar {
  animation: 0.5s slideout forwards;
}

.MenuBar.expanded {
  animation: 0.5s slidein forwards;
}

@keyframes slidein {
  from { top: -50rem; }
  to { top: 6.8rem; } /* Warning: magic number :( */
}

@keyframes slideout {
  from { top: 6.8rem; }
  to { top: -50rem; } /* Warning: magic number :( */
}

/* Medium and Large styles */
/*=========================*/
@media (min-width: 40rem) {
  .navigation .wrapper {
    position: static;
  }

  .MenuBar {
    position: static;
    width: auto;
    flex-direction: row;
    top: 0;
    float:left;
    border: none;
  }

  .hamburger {
    display: none;
  }

  .gh-item {
    width: auto;
    padding: 0px 2rem 0px;
  }
}
