.Home {
  text-align: center;
}

.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 8rem;
}

.Home-header {
  background-color: #323;
  padding: 6rem 0 3rem;
  color: white;
  margin-bottom: 4rem;
  box-shadow: inset 0 0 20px rgba(0,0,0,.5)
}

.Home-intro {
  font-size: large;
}

@keyframes Home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
