body {
  margin: 0;
  padding: 0;
}

.wrapper>.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.wrapper .container {
  max-width: 80rem;
}

/*Milligram style tweaks*/
code {
  vertical-align: text-bottom;
}
